[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MetAlyzer"]
	path = MetAlyzer
	url = https://github.com/nilsmechtel/metalyzer
